.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas: 
    'navbar navbar navbar '
    'slides slides slides '
    'home home home'
    'footer footer footer'
    ;
}

.navbar {
    grid-area: navbar;
    background-color: aliceblue;
}

.slides {
    grid-area: slides;
}

.home {
    grid-area: home;
    display: flex;
    
    
}
.footer {
    grid-area: footer;
}

@media screen and (max-width: 768px) {
    .contenedor {
        grid-template-areas: 
        'navbar navbar navbar'
        'slides slides slides'
        'home home home'  
    }
}

